.order-user{
    padding: 20px;
}
.order-info-user{
    background-color: white;
    padding: 15px;
}
.info-user h3{
    text-align: center;
}
.info-user-content{
    display: flex;
    justify-content: space-between;
}

.table td img{
    border-radius: 5px !important;
}

.info-user-content p{
    font-weight: bold;
}
.info-user-content span{
    font-weight: bold;
}